@import "./../../assets/_utilities.scss";

.form-signin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  .btn-signin {
    background-color: $primary_color;
    color: $white_txt;
    &:hover {
      background-color: $secondary_color;
    }
  }
}

.psd_visible, .psd_invisible {
  right: 0.5rem;
	top: calc(50%);
	transform: translateY(-50%);
}

.failed .psd_visible, .failed .psd_invisible {
  right: 0.5rem;
	top: calc(35%);
	transform: translateY(-50%);
}