@import "./../assets/_utilities.scss";
@import "./../assets/_mixin.scss";

footer {
  font-family: 'EB Garamond', serif;
  font-size: 1rem;
  color: $primary_color;
  @include medium {
    .container-fixed {
      width: 100%;
      margin: 0 auto;
    }
  }
  .container-fixed {
    border-top: 1px solid $secondary_color;
    padding: 2rem 1.5rem;
    width: 85%;
    margin: 0 auto;
    @include medium {
      width: 100%;
      margin: 0 auto;
    }
    div {
      justify-content: space-between;
      @include medium {
        flex-direction: column;
      }
      .socials {
        @include medium {
          order: 1;
        }
        h6 {
          font-weight: 600;
          text-align: center;
          font-size: 1.2rem;
        }
        .socialLink {
          position: relative;
          display: inline-block;
          margin: 10px;
          color: $primary_color;
          text-decoration-line: none;
          &:hover {
            color: $secondary_color;
          }
          &.apart:after {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            border-right: 1px solid black;
            content: " ";
            margin-left: 10px;
          }
        }
      }
      .language {
        width: 13rem;
        @include medium {
          order: 3;
  	      margin-top: 8px;
        }
        .lang_select {
          color: $primary_color;
          width: 4rem;
          display: inline-block;
          cursor: pointer;
        }
      }
      .contacts {
        @include medium {
          order: 2;
        }
      }
    }
  }
}