.toTop {
  position: fixed ;
	right: 1%;
  bottom: 2%;
  i {
    width: 40px;
    height: 40px;
    font-size: 32px;
    cursor: pointer;
    color: hsl(209, 11%, 57%);
    opacity: 0.8;
    transition: all 0.4s;
    &:hover {
      opacity: 1;
      color: #34495E;
    }
  }
}