.bannerimg{
  height: 220px;
  background-image: url("../src/assets/images/matthew-tkocz-q697-Akhwkc-unsplash (2)-min.jpg");
  background-size: cover;
  background-position:center center;
  position: relative;
}